{%- extends "base.html" -%}

{%- block prefix -%}{%- endblock prefix -%}

{%- block variables -%}
{%- set title = 'Error 404 (Not Found)' -%}
{%- set description = '404' -%}
{%- endblock variables -%}

{%- block robots -%}
<meta name="robots" content="noindex,nofollow,nosnippet">
{%- endblock robots -%}

{%- block meta -%}{%- endblock meta -%}

{%- block link -%}{%- endblock link -%}

{%- block content -%}
<h1>Error 404 (Not Found)</h1>
<p>The requested page does not exist. Please make sure the specified URL is correct.</p>
{%- endblock content -%}
